.wholeRightPanel{
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: var(--small-padding);
}

.maisBuscadas, .ultimasBuscadas{
    display: flex;
    flex-direction: column;
    gap: 5px;
}